
@{
    ViewBag.Title = "NotFound";
}
<h2>@ViewBag.ErrorMessage</h2>
<a asp-action="Index" asp-controller="Home">Click here to navigate to the home Page</a>
@* <h2 class="text-danger">The page you are looking for cannot be found. Please check the URL.</h2> *@