@model Travel_Reimbursement.Models.Domain.TravelModel
 
  @* <form method="post" asp-action="Decline" asp-area="ManagerAccount">
                            <input type="hidden" asp-for="Id">
                            <div class="form-group">
                                <button type="submit" align="center" class="btn btn-primary rounded submit p-2 px-3" >Submit</button>
                            </div>
                        </form>  *@
                         <h1>Successfully sent, that Travel details were Declined </h1> 